- text eol=lf

```text

Everything worked great locally, but when I pushed to GitHub all of my pngs were borked.

So I did some sleuthing and discovered that I should add this to my `.gitattributes` file so pngs are treated as binary files.

```bash

- text=auto
- text eol=lf
- .png binary

```text

In order for those changes to take effect, I had to run the following:

```bash

git rm --cached -r .
git add -A
